.button {
    padding: 5px 30px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    font-weight: bold;
    font-size:15px;
}

.primary-button {
    background-color: var(--primary-color);
    color: white;
}

.secondary-button {
    color: var(--primary-color);
}