.mainbar{
    flex: 0.8;
}

.mainbar .trending-posts-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.mainbar .update-card {
    background-color:aliceblue;
    padding: 15px;
    border-radius: var(--border-radius);
    border: 1px solid aliceblue;
    margin-top: 15px;
    
}

.mainbar .update-card .top-section {
    display: flex;
    justify-content: space-between;
}

.mainbar .update-card .top-section span {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px;
}

.mainbar .update-card .top-section svg{
    font-size: 14px;
}

.mainbar .update-card .top-section svg:hover {
    background-color:brown;
    color: white;
    border-radius: var(--border-radius);
}

.mainbar .update-card .body{
    margin: 15px 15px; 
    padding: 10px;
    border-radius: 15px;
    border: 2px solid rgb(216, 236, 255);
    display: flex;
}

.mainbar .update-card .body:hover{
    border: 2px solid rgb(192, 210, 227);
}


.mainbar .update-card .context .title{
    font-weight: bold;
    font-size: 20px;
    color:rgb(80, 176, 144);
    margin-bottom: 10px;
}

.mainbar .update-card .context .about{
    font-size: 14px;
}

.mainbar .update-card .body .account img {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    margin-right: 8px;
    border-radius: 25px;
    margin-top: 7px;
}



